{% extends 'base.html.twig' %}

{% block title %}Modifier mon profil{% endblock %}

{% block body %}
<style>
    .no-image div {
        width: 150px;
        background-color: gray;
    }
    .no-image div i {
        font-size: 150px;
        color: white;
    }
</style>

<div class="card border-0">
    <div class="card-body">
        <h1 class="card-title">Modifier mon profil</h1>
        {# <p class="card-text">Mes visites</p> #}
        {% for flashSuccess in app.flashes('success_message') %}
        <div class="alert alert-success" role="alert">{{ flashSuccess }}</div>
        {% endfor %}
        {% for flashSuccess in app.flashes('warning_message') %}
        <div class="alert alert-warning" role="alert">{{ flashSuccess }}</div>
        {% endfor %}
        <div class="row">
            <!-- Photo -->
            <div class="col-lg-4 col-xlg-3 col-md-5">
                <div class="card">
                    <div class="card-block">
                        <center class="m-t-30">
                            {% if account.hasImage() %}
                            <img src="{{ asset('uploads/' ~ account.image) }}" alt="{{account.fullname}}"
                                class="img-circle img-fluid rounded" width="150">
                            {% else %}
                            <div class='no-image'>
                                <div><i class="fa fa-user"></i></div>
                            </div>
                            {% endif %}
                            <h4 class="card-title m-t-10">{{account.fullname}}</h4>
                        </center>
                    </div>
                </div>
            </div>
            <!-- Form -->
            <div class="col-lg-8 col-xlg-9 col-md-7">
                <div class="card">
                    <div class="card-block p-3">
                        {{ form_start(accountForm) }}
                        {{ form_row(accountForm.fullname, {'attr': {'placeholder': 'Saisir votre nom complet'},'label': 'Nom complet' }) }}
                        {{ form_row(accountForm.description,  {'attr': {'placeholder': 'Saisir une description'}, 'label': 'Description' }) }}
                        {{ form_row(accountForm.image, { label: 'Image' }) }}
                        {{ form_widget(accountForm.save, { 'label': 'Sauvegarder' }) }}
                        {{ form_end(accountForm) }}
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}