{% extends 'base.html.twig' %}

{% block title %} Page de Contact{% endblock %}

{% block body %}
  <h1>Contactez nous</h1>
  
  {% for message in app.flashes("succes_mail") %}
      <spam class="text-success">{{message}}</spam>
  {% endfor %}

  {{ form_start(formContactUs) }}
      {{ form_row(formContactUs.sujet) }}
      {{ form_row(formContactUs.email) }}
      {{ form_row(formContactUs.message) }}
      <br>
      <button type="submit" class="btn btn-primary">Envoyer</button>
  {{ form_end(formContactUs) }}

  <br>
{% endblock %}

