{% extends 'base.html.twig' %}

{% block title %}Hello HomepageController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="container-carousel">
      <h2>Carousel Example</h2>
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
    
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
          {# <img src="{{ asset('images/eiffel-tower-logo.png') }}" width="30" height="30" class="d-inline-block align-top"
            alt=""> #}
            <img src="{{ asset('images/4.jpg') }}" alt="Le Menoir Senchal" style="width:100%;">
            <div class="carousel-caption">
              <h3 style="font-size: 50px;">Le Menoir Senchal</h3>
              <p style="font-size: 20px;">C'est un château abandonné avec de nombreuses histoires et secrets</p>
            </div>
          </div>
    
          <div class="item">
            <img src="{{ asset('images/2.jpg') }}" alt="Goussainville Vieux-Pays" style="width:100%;">
            <div class="carousel-caption">
              <h3 style=" font-size: 50px">Goussainville Vieux-Pays</h3>
              <p style=" font-size: 20px">Un village abandonné aux portes de Paris</p>
            </div>
          </div>
        
          <div class="item">
            <img src="{{ asset('images/eiffel.jpg') }}" alt="La Tour Eiffel" style="width:100%;">
            <div class="carousel-caption">
              <h3 style="font-size: 50px;">La tour Eiffel</h3>
              <p style="font-size: 20px;">Visite après le coucher du soleil</p>
            </div>
          </div>
      
        </div>
    
        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    <nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Search trip by keywords" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>

   <div class="container">
    <div class="card mb-3" style="max-width:940px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="{{ asset('images/5.jpg') }}" width="300" height="202" alt="3 domaines">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title"><strong>Les troi Domaines</strong></h5>
            <p class="card-text">Le manoir mystérieux avec de nombreuses histoires intéressantes.<br>
              Nombreux propriétaires et disparitions mystérieuses.<br>
               Découvrez son histoire en le visitant avec nous!</p>
               <button type="button" class="btn btn-primary">Voir plus de détails</button>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3" style="max-width: 940px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="{{ asset('images/2a.jpg') }}" width="300" height="202"  alt="les Arcades du Lac">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title"><strong>Les Arcades du Lac</strong></h5>
            <p class="card-text">L'un des bâtiments les plus intéressants conçus par le célèbre Ricardo Bofill.<br>
              Si vous êtes intéressé par l'architecture, assurez-vous de visiter cet endroit avec nous!.</p>
               <button type="button" class="btn btn-primary">Voir plus de détails</button>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3" style="max-width: 940px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="{{ asset('images/3.jpg') }}" width="300" height="202" alt="L'Hôpital Universitaire Pitié Salpêtrière ">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title"><strong>L'Hôpital Universitaire Pitié Salpêtrière</strong></h5>
            <p class="card-text">Aimez-vous Game of Thrones? Vous devez visiter cet endroit avec nous! <br>
              Plusieurs scènes ont été filmées ici! <br>
              Les bâtiments et l'atmosphère de cet endroit valent le détour.<br>
              Vous ne pouvez pas le manquer!<br>
              Vous êtes intéressé? Nous contacter</p>
               <button type="button" class="btn btn-primary">Voir plus de détails</button>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3" style="max-width: 940px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="{{ asset('images/5e.jpg') }}" width="300" height="202" alt="Les espaces d'Abraxas ">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title"><strong>Les espaces d'Abraxas </strong></h5>
            <p class="card-text">Saviez-vous qu'il y a un bâtiment oublié à l'hôpital?<br>
              Archives, sculptures, peintures et le vélo qui alimentait <br>
              le moulin à vent pour donner de l'oxygène.<br>
              Vous êtes intéressé? Nous contacter</p>
               <button type="button" class="btn btn-primary">Voir plus de détails</button>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3" style="max-width: 940px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="{{ asset('images/2b.jpg') }}" width="300" height="202" alt="Le Menoir Senchal">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title"><strong>Le Menoir Senchal  </strong></h5>
            <p class="card-text">Un autre manoir oublié.<br>
              Un diamant parmi les immeubles abandonnés de la région parisienne.
              Ce voyage surprendra et satisfera sûrement les amateurs d'architecture!.<br>
            Vous êtes intéressé? Nous contacter</p>
               <button type="button" class="btn btn-primary">Voir plus de détails</button>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3" style="max-width: 940px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="{{ asset('images/1.jpg') }}" width="300" height="202" alt="Le Château de Monte-Cristo">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title"><strong>Le Château de Monte-Cristo </strong></h5>
            <p class="card-text">Après le succès du livre "Le Comte de Monte Cristo", <br>
              Alexandre Dumas lui-même a voulu vivre dans un tel château. Par conséquent,<br>
               il a supervisé lui-même la construction du château de rêve.<br>
              Tenant ici des fêtes coûteuses et disposant de sa propriété de manière maladroite, <br>
              il s'endetta et dut donc vendre le château 2 ans plus tard.<br>
              Si vous êtes un fan de Dumas, assurez-vous de visiter cet endroit avec nous!</p>
               <button type="button" class="btn btn-primary">Voir plus de détails</button>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3" style="max-width: 940px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="{{ asset('images/2c.jpg') }}" width="300" height="202" alt="Jardin d'agronomie tropicale">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title"><strong>Jardin d'agronomie tropicale </strong></h5>
            <p class="card-text">Le jardin est magnifique et un peu oublié.<br>
              Il abrite les vestiges de l'exposition coloniale de 1907.<br>
               Serres tropicales, monuments, ponts asiatiques.<br>
               Beaucoup d'histoire et un super endroit pour pique-niquer<br>
               Vous êtes intéressé? Nous contacter</p>
               <button type="button" class="btn btn-primary">Voir plus de détails</button>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3" style="max-width: 940px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="{{ asset('images/7.jpg') }}" width="300" height="202" alt="Le Palais Garnier">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title"><strong>Le Palais Garnier </strong></h5>
            <p class="card-text">Si vous êtes à Paris et que vous ne voyez pas cet endroit,<br>
              c'est comme si vous n'étiez pas là!<br>
             Seulement avec nous, vous visiterez cet endroit de l'arrière.<br>
             N'hésitez plus et réservez votre temps</p>
               <button type="button" class="btn btn-primary">Voir plus de détails</button>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3" style="max-width: 940px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="{{ asset('images/1o.jpg') }}" width="300" height="202" alt="Goussainville Vieux-Pays">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title"><strong>Goussainville Vieux-Pays </strong></h5>
            <p class="card-text">À quelques minutes de la gare RER de Goussainville se trouve<br>
              l’un des villages les plus insolites d’Île-de-France. Depuis 1973, ce hameau situé<br>
               à cinq kilomètres de l’aéroport Roissy Charles de Gaulle est presque entièrement abandonné <br>
               C'est un voyage inoubliable, venez avec nous</p>
               <button type="button" class="btn btn-primary">Voir plus de détails</button>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3" style="max-width: 940px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="{{ asset('images/1a.jpg') }}" width="300" height="202" alt="Cimetière du Père Lachaise">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title"><strong>Cimetière du Père Lachaise </strong></h5>
            <p class="card-text">Le plus grand et le plus célèbre cimetière parisien, fondé en 1804.<br>
              Sa superficie est de 44 hectares. De nombreuses personnalités sont enterrées ici,<br>
               y compris Balzac, Edith Piaf, Jim Morisson, Chopin.<br>
              Avec nous, vous pouvez visiter les lieux les plus importants <br>
               sans vous perdre dans cette immense région!</p>
               <button type="button" class="btn btn-primary">Voir plus de détails</button>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3" style="max-width: 940px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="{{ asset('images/2p.jpg') }}" width="300" height="202" alt="Le château du duc d'Épernon ">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title"><strong>Le château du duc d'Épernon </strong></h5>
            <p class="card-text">Cet étonnant château médiéval doit être visité au moins une fois dans votre vie!,<br>
              Dans son histoire, il a joué divers rôles, c'était une prison, un tribunal, un domaine utilisé pour la chasse,<br>
               c'était la propriété de l'armée et des bûcherons. <br>
               Voulez-vous connaître la riche histoire de ce lieu?<br>
              Êtes-vous prêt pour le voyage?</p>
               <button type="button" class="btn btn-primary">Voir plus de détails</button>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3" style="max-width: 940px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="{{ asset('images/1s.jpg') }}" width="300" height="202" alt="La Sainte-Chapelle">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title"><strong>La Sainte-Chapelle</strong></h5>
            <p class="card-text">C'est un joyau architectural gothique! Construit en seulement 7 ans, c'est un endroit à couper le souffle.<br>
              Toits de verre uniques. Disposés en 15 vitraux de 15 m de haut, les vitraux aux 1113 scènes de l'Ancien et du Nouveau Testament<br>
               racontent l'histoire du monde jusqu'à l'arrivée des reliques à Paris.<br>
               Vous devez le voir de vos propres yeux.</p>
               <button type="button" class="btn btn-primary">Voir plus de détails</button>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
 
{% endblock %}
