{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}
<style>
.table-responsive img{
    width: 100px;
    height: 100px;
}
</style>

<div class="card border-0">
  <div class="card-body">
    <h1 class="card-title">Tableau de bord</h5>
    {# <p class="card-text">Mes visites</p> #}
    {% for flashSuccess in app.flashes('success_message') %}
    <div class="alert alert-success" role="alert">{{ flashSuccess }}</div>
    {% endfor %}

    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Image</th>
                    <th scope="col">Titre</th>
                    <th scope="col">Description</th>
                    <th scope="col">Date</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for walk in walks %}
                <tr>
                    <td><img src="{{ asset('uploads/' ~ walk.image) }}" alt="walk.title"></td>
                    <td>{{walk.title}}</td>
                    <td>{{walk.description}}</td>
                    <td>{{walk.date|date("m/d/Y")}}</td>
                    <td>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link p-0" href="#">Voir</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link p-0" href="#">Modifier</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link p-0" href="#">Supprimer</a>
                            </li>
                        </ul>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <a href="{{path('walk_create')}}" class="card-link btn btn-primary"><i class="fa fa-plus"></i> Ajouter une visite</a>
  </div>
</div>

{% endblock %}