{% extends 'base.html.twig' %}

{% block title %}Hello ProfilvisitorController!{% endblock %}

{% block body %}
<style>
    .table-responsive img {
        width: 100px;
        height: 100px;
    }
</style>
<div class="card border-0">
    <div class="card-body">
        <h1 class="card-title">Tableau de bord</h1>
        <p class="card-text">Mes balades précédentes et à venir</b></p>

        {% for flashSuccess in app.flashes('success_message') %}
        <div class="alert alert-success" role="alert">{{ flashSuccess }}</div>
        {% endfor %}
        {% for flashSuccess in app.flashes('warning_message') %}
        <div class="alert alert-warning" role="alert">{{ flashSuccess }}</div>
        {% endfor %}

        {% if walks|length == 0 %}
        <p>Aucune balade n'est réservée actuellement</p>
        {% else %}

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Image</th>
                        <th scope="col">Titre</th>
                        <th scope="col">Description</th>
                        <th scope="col">Prix</th>
                        <th scope="col">Date</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for walk in walks %}
                    <tr>
                        <td><img src="{{ asset('uploads/' ~ walk.image) }}" alt="{{walk.title}}"></td>
                        <td>{{walk.title}}</td>
                        <td>{{walk.description}}</td>
                        <td>{{walk.price|format_currency('EUR')}}</td>
                        <td>{{walk.date|date("d/m/Y à H:m")}}</td>
                        <td>
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link p-0" href="{{path('walk_show', {id: walk.id})}}">Voir</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link p-0" href="{{path('walk_cancel', {id: walk.id})}}">Annuler la
                                        réservation</a>
                                </li>
                                {# <li class="nav-item">
                                        <a class="nav-link p-0" href="#">Laisser un commentaire</a>
                                    </li> #}
                            </ul>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        {% endif %}

    </div>
</div>

{% endblock %}