{% extends 'base.html.twig' %}

{% block title %}Hello WalkController!{% endblock %}

{% block body %}
<style>
  .example-wrapper {
    margin: 1em auto;
    max-width: 800px;
    width: 95%;
    font: 18px/1.5 sans-serif;
  }

  .example-wrapper code {
    background: #F5F5F5;
    padding: 2px 6px;
  }
</style>

<div class="card border-0">
  <div class="card-body">
    <h1 class="card-title">Créer une balade</h5>
      <p>Complétez les informations suivantes :</p>

      {{ form_start(walkForm) }}
      <hr>

      {{ form_row(walkForm.title, {'attr': {'placeholder': 'Saisir un titre de promenade'} }) }}
      {{ form_row(walkForm.date) }}
      {{ form_row(walkForm.description,  {'attr': {'placeholder': 'Saisir une description'} }) }}
      {{ form_row(walkForm.image, {
            label: 'Ajouter une photo'
        }) }}

      {{ form_widget(walkForm.save, { 'label': 'Ajouter' }) }} <a href="{{path('dashboard')}}">Annuler</a>

      {{ form_end(walkForm) }}
  </div>
</div>

{% endblock %}