{% extends 'base.html.twig' %}

{% block title %}Hello WalkController!{% endblock %}

{% block body %}
<div class="card border-0">
  <div class="card-body">
    <h1 class="card-title">Modifier une balade</h5>
      <p>Complétez les informations suivantes :</p>

      {{ form_start(walkForm) }}
      <hr>

      {{ form_row(walkForm.title, {'attr': {'placeholder': 'Saisir un titre de promenade'} }) }}
      {{ form_row(walkForm.date) }}
      {{ form_row(walkForm.description,  {'attr': {'placeholder': 'Saisir une description'} }) }}
      {{ form_row(walkForm.price, {'attr': {'placeholder': 'Saisir un prix (€)'}, 'label': 'Prix' }) }}
      {{ form_row(walkForm.image, {
            label: 'Ajouter une photo'
        }) }}

      {{ form_widget(walkForm.save, { 'label': 'Modifier' }) }} <a href="{{path('dashboard')}}">Annuler</a>

      {{ form_end(walkForm) }}
  </div>
</div>

{% endblock %}